@using Domain.Entities
@model t_siz_goods
           <div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table class="table table-striped table-condensed table-bordered" >
            @foreach (var p in @ViewBag.Res)
            {
                <tr style="width:75%">
                    <td style="width:75%">
                        @p.size @(p.alternative!=null?"("+p.alternative+")":"")
                    </td>
                    <td>(@p.t_siz_size_type.name)</td>
                    <td>
                        <input type="checkbox" name="selectedSizes" value="@p.id"
                               @(ViewBag.Res2.Contains(p.id) ? "checked=\"checked\"" : "") />

                    </td>
                </tr>
            }
        </table>
        <p>
            <input type="submit" class="btn btn-success" value="Сохранить" />
        </p>
    }
</div>